.panel > h1, .panel > p{
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.modal.image{
	background-repeat: no-repeat;
	background-size: cover;
	width: 100%;
	padding-top: 100%;
}

.tr{
	text-align: right;
}

#newAdvert{
	top: 50px !important;
}

.alert-div{
	z-index: 9999;
	position: absolute;
	bottom: 0;
	right: 0;
	width: 25%;
}

.confirmDelete{
	position: fixed !important;
	top: 100px !important;
}

.loading{
	background-color: #F1F1F1;
	width: 100%;
	height: 100%;
	z-index: 9999;
	background-image: url('../img/loader.gif');
	background-repeat: no-repeat;
	background-position: 50% 50%;
}


/*----------FILE DROPZONE----------*/
.dropzone.parent {
	background-size: cover;
	background-repeat: no-repeat;
    border: 2px dashed #bbb;
    text-align: center;
    font: 20pt bold 'Vollkorn';
    color: #bbb;
    white-space: nowrap;
}
.dropzone > span{
	-webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
	background-color:white;
	padding: 0.5em;
}

.dropzone.parent:before {
    content: '';
    display: inline-block;
    padding-top: 100%;
    vertical-align: middle;
    margin-right: -0.25em;
}

.dropzone.centered {
    display: inline-block;
    vertical-align: middle;
    width: 300px;
}

.thumb{
	background-size: cover;
	background-repeat: no-repeat;
	padding-top: 100%;
}